#===========================================
# 🔴 REQUIRED
#===========================================


#===========================================
# 🟢 OPTIONAL (EASY)
#===========================================

# Specify your website domain in production
VITE_APP_URL=https://your-domain.com


#===========================================
# 🟡 OPTIONAL (MEDIUM)
#===========================================



#===========================================
# 🟠 OPTIONAL (ADVANCED)
#===========================================

# Specify if you have "authjs" as auth provider
VITE_AUTH_PROVIDER=authjs


#===========================================
# 🔵 OPTIONAL (ADDITIONAL)
#===========================================

# Specify if you want to enable ip rate limit
VITE_ENABLE_RATE_LIMIT=false


#===========================================
# 🟣 INSTRUCTIONS
#===========================================

# [IMPORTANT THINGS TO KNOW]
# Never share or commit the ".env" file anywhere.


#===========================================
# ⭕ CURRENTLY NOT USED
#===========================================
